body{
    margin: 0px;
    font-family: "Lato";
}

nav{
    height: 64px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: #1A1A1A;
    font-size: 24px;
    transition-duration: 150ms;
}

nav a:hover{
    transform: scale(1.2);
}

.hero-section{
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10vw;
}

.hero-section img{
    height: 400px;
}

.skills{
    text-align: center;
    background-color: #f2f2f2;
    padding: 30px;
}

.container{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

.card{
    width: 250px;
    background-color: white;
    justify-self: center;
    margin: 20px;
}

.workexp{
    text-align: center;
    background-color: white;
    padding: 30px;
}

.card2{
    width: 250px;
    background-color: #f2f2f2;
    justify-self: center;
    margin: 20px;
}
